# Data Clean

## 1. Libraries, Datasets

In [1]:
#importing libraries

import pandas as pd

In [2]:
#importing dataset

df = pd.read_csv("data/raw_global_youtube_statistics.csv", encoding="ISO-8859-1")

In [3]:
#columns that we're gonna keep for the visualization

cols=['rank', 'Youtuber', 'subscribers', 'video views', 'category',
       'uploads', 'Country', 'channel_type',
       'video_views_rank', 'country_rank',
       'highest_monthly_earnings',
       'created_year', 
       'Gross tertiary education enrollment (%)',
       'Unemployment rate']

## 2. Making the first dataset
Here, we're just cleaning up the records, deleting some unnecessary columns

In [4]:
df_col= df[cols]

In [5]:
#let's check how many nan values we have

df_col.isna().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
uploads                                      0
Country                                    122
channel_type                                30
video_views_rank                             1
country_rank                               116
highest_monthly_earnings                     0
created_year                                 5
Gross tertiary education enrollment (%)    123
Unemployment rate                          123
dtype: int64

In [8]:
#let's delete those lines

df_cleaned1=df_col.dropna(subset=["Country", "category", "country_rank", "created_year", "Unemployment rate"])

In [11]:
#all is gone

df_cleaned1.isna().sum()

rank                                       0
Youtuber                                   0
subscribers                                0
video views                                0
category                                   0
uploads                                    0
Country                                    0
channel_type                               6
video_views_rank                           0
country_rank                               0
highest_monthly_earnings                   0
created_year                               0
Gross tertiary education enrollment (%)    0
Unemployment rate                          0
dtype: int64

In [73]:
#exporting it to a csv file

df_cleaned1.to_csv('data/cleaned_global_youtube_statistics.csv', index=False)

## 3. Making an aggregated, grouped dataset.
We're grouping by countries

In [74]:
df_cleaned1.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'uploads',
       'Country', 'channel_type', 'video_views_rank', 'country_rank',
       'highest_monthly_earnings', 'created_year',
       'Gross tertiary education enrollment (%)', 'Unemployment rate'],
      dtype='object')

In [13]:
# counting records by county
country_counts = df_cleaned1['Country'].value_counts().reset_index()
country_counts.columns = ['Country', 'Total']

In [15]:
# counting category types for each country
category_counts = df_cleaned1.groupby(['Country', 'channel_type']).size().unstack(fill_value=0).reset_index()

In [16]:
#merge the data into dataset
new_df = pd.merge(country_counts, category_counts, on='Country')

new_df

,Country,Total,Animals,Autos,Comedy,Education,Entertainment,Film,Games,Howto,Music,News,Nonprofit,People,Sports,Tech
0,United States,290,3,0,16,17,93,10,24,12,80,3,1,21,6,4
1,India,163,0,0,12,15,45,12,4,6,38,14,0,10,0,5
2,Brazil,61,0,0,4,1,24,4,5,2,14,0,1,5,0,1
3,United Kingdom,42,0,0,1,1,16,2,4,0,15,1,0,0,1,1
4,Mexico,33,0,0,3,3,8,2,5,4,2,0,0,6,0,0
5,Indonesia,27,0,0,1,1,19,0,3,1,0,1,0,1,0,0
6,Spain,22,0,0,1,2,2,0,10,0,4,0,0,0,2,0
7,Thailand,18,0,0,0,0,10,1,1,0,4,2,0,0,0,0
8,Russia,16,0,0,0,1,5,1,4,0,0,1,0,4,0,0
9,South Korea,15,0,0,0,0,5,0,1,0,7,0,0,2,0,0
10,Canada,15,0,0,1,1,5,0,3,0,3,0,0,0,0,2
11,Argentina,13,0,0,1,1,3,0,3,0,4,0,0,1,0,0
12,Colombia,11,0,0,1,0,1,0,0,1,7,0,0,1,0,0
13,Philippines,10,0,0,0,0,4,0,0,0,1,4,0,1,0,0
14,Saudi Arabia,9,0,0,0,0,3,1,3,0,2,0,0,0,0,0
15,Ukraine,8,0,0,0,0,5,0,0,1,0,1,0,1,0,0
16,Australia,8,0,0,0,0,0,0,2,2,1,0,0,2,1,0
17,Germany,6,0,0,1,1,1,0,1,0,0,0,0,0,0,1
18,Japan,5,0,1,1,0,3,0,0,0,0,0,0,0,0,0
19,United Arab Emirates,5,0,1,0,0,2,0,0,0,0,1,0,1,0,0
20,France,5,0,0,1,0,2,0,0,0,2,0,0,0,0,0
21,Pakistan,5,0,0,0,0,3,0,0,0,0,1,0,0,0,0
22,Sweden,3,0,0,0,0,1,0,1,0,1,0,0,0,0,0
23,Vietnam,3,0,0,1,0,1,1,0,0,0,0,0,0,0,0
24,Turkey,3,0,0,0,0,2,0,0,0,1,0,0,0,0,0
25,Jordan,3,0,0,0,0,0,0,0,0,3,0,0,0,0,0
26,Chile,3,0,0,0,0,0,0,2,0,0,0,0,1,0,0
27,Netherlands,3,0,0,0,0,1,0,1,0,1,0,0,0,0,0
28,Ecuador,2,0,0,0,0,1,0,1,0,0,0,0,0,0,0
29,Egypt,2,0,0,0,0,1,0,0,1,0,0,0,0,0,0
30,Iraq,2,0,0,1,0,0,0,0,0,1,0,0,0,0,0
31,Singapore,2,0,0,0,0,1,0,0,0,0,0,0,0,0,0
32,Italy,2,0,0,0,0,2,0,0,0,0,0,0,0,0,0
33,El Salvador,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
34,Afghanistan,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
35,Cuba,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
36,Latvia,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
37,Switzerland,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
38,Barbados,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
39,Malaysia,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
40,China,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
41,Venezuela,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
42,Kuwait,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
43,Morocco,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
44,Peru,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
45,Bangladesh,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
46,Finland,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
47,Samoa,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [17]:
#saving this too
new_df.to_csv('data/cleaned_country_data.csv', index=False)